<nav class="navbar navbar-expand-lg border-bottom bg-body">
    <div class="container">
        <a class="navbar-brand" asp-controller="Dashboard" asp-action="Index">DataPilot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMain">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Connections" asp-action="Index">Connections</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Chat" asp-action="Index">Chat-to-SQL</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Chat" asp-action="QueryEnhancer">Query Enhancer</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Mcp" asp-action="Index">MCP Dashboard</a></li>
            </ul>
            <div class="d-flex gap-2">
                <button class="btn btn-outline-secondary" type="button" onclick="toggleTheme()"><i class="fa-solid fa-moon"></i></button>
            </div>
        </div>
    </div>
</nav>
